.layout {
  margin: 15px 40px;
  padding: 0px 40px;
  border-radius: 15px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  width: 90%;
  background-color: #fff;
}

.film_container {
  margin-top: 25px;
  border-radius: 15px;
  overflow: hidden;
  height: 500px;
  width: 90%;
  background-color: #fff;
  color: black;
  box-shadow: 0 3px 8px rgb(0 0 0 / 70%);
}

.film_information {
  padding: 0px 40px;
  display: flex;
}

.film_data_ul {
  margin-top: 30px;
  list-style-type: none;
  line-height: 1.7;
}

.film_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bolder;
  color: aliceblue;
  background-color: darkcyan;
}

.film_poster {
  display: block;
  height: 400px;
  width: 250px;
}

.film_poster img {
  height: 400px;
  width: 250px;
}

.data_keys {
  font-size: 20px;
  font-weight: bold;
}

.data_values {
  font-size: 20px;
}

