body {
  margin:  auto;
  text-align: center;
}

.watch_list {
  height: 300px;
  width: 300px;
  color: rgb(0, 0, 0);
  background-color: green;
}
.watch-list-container {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.watch-list-title {
  color: aliceblue;
}