.title {
  display: block;
  margin: 5px 10px;
  font-weight: bold;
  line-height: 1;
  height: 40px;
  width: 165px;
  font-size: 14px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title:active {
  overflow:visible;
  text-overflow:unset;
  white-space: normal;
}

p {
  margin: 0px 10px;
}

.movie-describe {
  display: flex;
  justify-content:space-around  ;
}

.watch_later path:hover {
  fill:grey !important;
}

.watch_later .active {
  fill:rgb(167, 3, 3) !important;
}

.fa-clock {
  margin-top: 10px;
  margin: 10px 10px 0px 10px;
}

.movie-element {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #F0FFFF;
  margin: 15px 30px;
  color: black;
  height: 350px;
  width: 175px;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease-in-out;
  box-shadow: 16px 16px 16px -4px rgba(0, 0, 0, 0.21);
}

.movie-element:active {
  transition: 0.2s ease-in-out;
  box-shadow: 6px 8px 10px -3px rgba(3,3,3,0.41);
}

.movie-container {
  margin: 15px 40px;
  padding: 0px 40px;
  border-radius: 15px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow:hidden;
  width: 90%;
  background-color: #fff;
}


.movie-poster {
  height: 250px;
  width: 175px; 
  transition: 500ms;
  cursor: pointer;

}

.movie-poster:hover {
  transition: 500ms;
}

.movie-poster:active {
  transition: 500ms;
  transform: scaleX(-1);
  opacity: 0.5;
}

.far .fa-clock .fa-2x {
  font-size: 25px;
}
